:root {
    --color1: #ffffff;
    --color2: #d6dcec;
    --color3: #0032a0;
    --color4: #fe9119;
    --color5: #F8B530;
    --color6: #8397c6;
    --color7: #5a74b3;
    --color8: #F5F5F5;
    --color9: #fe2f31;
    --color10: #999;
    --color11: #E5EAF5;
    --color12: #eff5fa;
    --color13: #b7b7b7;
    --color14: rgba(0, 50, 160, 0.8);
    --color15: #B8E986;
    --color16: #707070;
    --color17: #ffd3d4;
    --color20: #c1cae2;
    --color22: #64A70B;
    --color23: #6e85bc;
    --color24: #F4F8FB;
    --color25: #0f60ff;
    --gradient1: linear-gradient(135deg, #5570b1, #a0afd3);
    --gradient2: linear-gradient(to bottom, #f5f7fb, #d6dcec);
}
;

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    color: var(--color3);
}

body {
  background-color: var(--color2);
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 67px;
    display: flex;
    background-color: var(--color1);
}

#nav {
    width: 80%;
    height: 100%;
    margin: 0 140px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

#links {
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

#logo-container {
    width: 50px;
    height: 50px;
}

#logo {
    width: 100%;
    height: 100%;
}

#nav-menu {
    display: flex;
}

#nav-links {
    display: flex;
    width: 500px;
    list-style: none;
    justify-content: space-evenly;
    font-size: 17.5px;
}

.nav-link {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-link {
    padding: 3px;
}

.menu-link:hover {
    font-weight: 600;
    transition: 0.25s, ease;
}

.nav-outline {
    width: 0%;
    height: 3px;
    background-color: var(--color3);
    border-radius: 3px;
    transition: width 0.25s ease;
    margin: 0 auto;
}

.menu-link:hover + .nav-outline {
    width: 95%;
}

#hamburger-menu, #close-button {
    display: none;
}

.user-tools {
    font-size: 50px;
}

.user-tools:hover {
    opacity: 0.6;
}

.dropdown {
  width: 95%;
  background-color: var(--color14);
  color: var(--color24);
  position: fixed;
  z-index: 20;
  top: 67px;
  left: 2.5%;
  display: none;
  opacity: 0;
  transition: opacity 0.2ms ease;
  /* box-shadow: var(--color16); */
}

.dropdown.active {
  display: block;
  opacity: 1;
}

.drop-content {
  display: flex;
  margin: 55px 50px;
  align-items: space-between;
  gap: 70px;
}

.drop-content a, .drop-content li{
  color: var(--color24);
  text-decoration: none;
  list-style: none;
}

.drop-list-head {
  font-size: 18px;
  font-weight: 700;
  transition: color 0.2s ease;
}

.drop-list-head:hover, .drop-list li:hover {
  color: var(--color6);
}

.drop-list ul {
  margin-left: 5px;
  font-size: 15px;
}

#dropdown4 .drop-content {
  gap: 110px;
}

.drop-divider {
  width: 95%;
  height: 2px;
  margin: 0 auto;
  color: var(--color2);
}

.drop-ad {
  width: 25%;
  margin-top: 25px;
  margin-bottom: 55px;
  margin-left: 72.5%;
}

#soil-ad {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: space-between;
  gap: 0;
}

.soil-ad-image {
  width: 60%;
  height: 100%;
}

.soil-ad-image img {
  width: 100%;
  height: 100%;
}

.soil-ad-caption {
  width: 40%;
  height: 100%;
  background-color: var(--color1);
}

.soil-ad-caption a {
  font-size: 12.5px;
  margin: 8px;
}

.soil-ad-caption p{
  margin-left: 16px;
}

#hero {
  width: 100%;
}

#slide-container {
  background-color: var(--color2);
  width: 100%;
}

.slides {
  display: flex;
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  transition: opacity 1s ease-in-out;
  display: none;
}

.slide-active {
  display: block;
}

.slide-images {
  height: 540px;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.slide-button {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background-color: var(--color1);
  color: var(--color25);
  border: none;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
  outline: none;
  z-index: 10;
  font-weight: 150;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.slide-button:hover {
  opacity: 1;
  width: 80px;
  height: 80px;
  font-size: 60px;
}

#slide-button-left {
  left: 30px;
}

#slide-button-right {
  right: 40px;
}

.slide-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.slide-text h3, .slide-text p {
  color: var(--color3);
  text-align: center;
}

.slide-text h3 {
  font-size: 45px;
  line-height: 50px;
}

.slide-text p {
  font-size: 20px;
}

.slide-text button {
  width: 220px;
  height: 50px;
  color: var(--color25);
  font-size: 15px;
  font-weight: 700;
  background-color: var(--color1);
  outline: none;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  margin: 10px auto;
}

.slide-text button:hover {
  border: 1px solid var(--color25);
}

#slide-text1, #slide-text2 {
  top: 40%;
  left: 13%;
}

#slide-text3, #slide-text4, #slide-text5, #slide-text6 {
  top: 52%;
  left: 65%;
}

#slide-text4 button {
  background-color: var(--color3);
  color: var(--color1);
}

#slide-text4 button:hover {
  background-color: var(--color1);
  color: var(--color25);
}

#slide-text6 {
  top: 40%;
}

#slide-text6 h3, #slide-text6 p {
  color: var(--color1);
}

#slide-counters {
  display: flex;
  width: 78px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 15px auto;
}

.slide-counter {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--color6);
}

.slide-counter.active {
  background-color: var(--color25);
}

#ad-container {
  width: fit-content;
  margin: 30px auto;
}

#ad-container h2, #news-section h2 {
  font-size: 42px;
  text-align: center;
  color: var(--color3);
}

.ads {
  width: fit-content;
  display: flex;
  align-content: space-between;
  gap: 15px;
  margin: 20px auto;
}

.ad {
  display: flex;
  flex-direction: column;
}

.ad:hover {
  opacity: 0.8;
}

.ad p {
  font-size: 17px;
  color: var(--color25);
  font-weight: 500;
}

.material-icons {
  text-align: center;
}

#news-section {
  margin-top: 80px;
}

#photo-grid {
  display: flex;
  width: fit-content;
  margin: 35px auto;
  align-content: space-between;
  gap: 10px;
}