:root {
    --color1: #ffffff;
    --color2: #d6dcec;
    --color3: #0032a0;
    --color4: #fe9119;
    --color5: #F8B530;
    --color6: #8397c6;
    --color7: #5a74b3;
    --color8: #F5F5F5;
    --color9: #fe2f31;
    --color10: #999;
    --color11: #E5EAF5;
    --color12: #eff5fa;
    --color13: #b7b7b7;
    --color14: rgba(0, 50, 160, 0.8);
    --color15: #B8E986;
    --color16: #707070;
    --color17: #ffd3d4;
    --color20: #c1cae2;
    --color22: #64A70B;
    --color23: #6e85bc;
    --color24: #F4F8FB;
    --color25: #0f60ff;
    --gradient1: linear-gradient(135deg, #5570b1, #a0afd3);
    --gradient2: linear-gradient(to bottom, #f5f7fb, #d6dcec);
}
;

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    color: var(--color3);
}

body {
  background-color: var(--color12);
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 67px;
    display: flex;
    background-color: var(--color1);
}

#nav {
    width: 80%;
    height: 100%;
    margin: 0 140px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

#links {
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

#logo-container {
    width: 50px;
    height: 50px;
}

#logo {
    width: 100%;
    height: 100%;
}

#nav-menu {
    display: flex;
}

#nav-links {
    display: flex;
    width: 500px;
    list-style: none;
    justify-content: space-evenly;
    font-size: 17.5px;
}

.nav-link {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-link {
    padding: 3px;
}

.menu-link:hover {
    font-weight: 600;
    transition: 0.25s, ease;
}

.nav-outline {
    width: 0%;
    height: 3px;
    background-color: var(--color3);
    border-radius: 3px;
    transition: width 0.25s ease;
    margin: 0 auto;
}

.menu-link:hover + .nav-outline {
    width: 95%;
}

#hamburger-menu {
  height: 66px;
  width: 64px;
  border-left: 1px solid var(--color2);
  font-size: 8px;
  letter-spacing: 0.5px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

#hamburger-menu div:first-child, #hamburger-menu div:nth-child(2), #hamburger-menu div:nth-child(3){
  height: 2px;
  width: 25px;
  background-color: var(--color3);
  margin: 6px auto;
}

#hamburger-menu div:first-child{
  margin-top: 20px;
}

#hamburger-menu div:last-child{
  width: 25px;
  margin: 6px auto;
}


#hamburger-menu {
    display: none;
}

.user-tools {
    font-size: 50px;
}

.user-tools:hover {
    opacity: 0.6;
}

.mobile-link {
  display: none;
}

.dropdown {
  width: 95%;
  background-color: var(--color14);
  color: var(--color24);
  position: fixed;
  z-index: 20;
  top: 67px;
  left: 2.5%;
  display: none;
  opacity: 0;
  transition: opacity 0.2ms ease;
  /* box-shadow: var(--color16); */
}

.dropdown.active {
  display: block;
  opacity: 1;
}

.drop-content {
  display: flex;
  margin: 55px 50px;
  align-items: space-between;
  gap: 70px;
}

.drop-content a, .drop-content li{
  color: var(--color24);
  text-decoration: none;
  list-style: none;
}

.drop-list-head {
  font-size: 18px;
  font-weight: 700;
  transition: color 0.2s ease;
}

.drop-list-head:hover, .drop-list li:hover {
  color: var(--color6);
}

.drop-list ul {
  margin-left: 5px;
  font-size: 15px;
}

#dropdown4 .drop-content {
  gap: 110px;
}

.drop-divider {
  width: 95%;
  height: 2px;
  margin: 0 auto;
  color: var(--color2);
}

.drop-ad {
  width: 25%;
  margin-top: 25px;
  margin-bottom: 55px;
  margin-left: 72.5%;
}

#soil-ad {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: space-between;
  gap: 0;
}

.soil-ad-image {
  width: 60%;
  height: 100%;
}

.soil-ad-image img {
  width: 100%;
  height: 100%;
}

.soil-ad-caption {
  width: 40%;
  height: 100%;
  background-color: var(--color1);
}

.soil-ad-caption a {
  font-size: 12.5px;
  margin: 8px;
}

.soil-ad-caption p{
  margin-left: 16px;
}

#hero {
  width: 100%;
}

#slide-container {
  background-color: var(--color12);
  width: 100%;
}

.slides {
  display: flex;
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
  transition: ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: none;
  transition: ease-in-out;
}

.slide-active {
  display: block;
}

.slide-images {
  height: 540px;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.slide-button {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background-color: var(--color1);
  color: var(--color25);
  border: none;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
  outline: none;
  z-index: 10;
  font-weight: 150;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.slide-button:hover {
  opacity: 1;
  width: 80px;
  height: 80px;
  font-size: 60px;
}

#slide-button-left {
  left: 30px;
}

#slide-button-right {
  right: 30px;
}

.slide-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.slide-text h3, .slide-text p {
  color: var(--color3);
  text-align: center;
}

.slide-text h3 {
  font-size: 45px;
  line-height: 50px;
}

.slide-text p {
  font-size: 20px;
}

.slide-text button {
  width: 220px;
  height: 50px;
  color: var(--color25);
  font-size: 15px;
  font-weight: 700;
  background-color: var(--color1);
  outline: none;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  margin: 10px auto;
}

.slide-text button:hover {
  border: 1px solid var(--color25);
}

#slide-text1, #slide-text2 {
  top: 40%;
  left: 13%;
}

#slide-text3, #slide-text4, #slide-text5, #slide-text6 {
  top: 52%;
  left: 65%;
}

#slide-text4 button {
  background-color: var(--color3);
  color: var(--color1);
}

#slide-text4 button:hover {
  background-color: var(--color1);
  color: var(--color25);
}

#slide-text6 {
  top: 40%;
}

#slide-text6 h3, #slide-text6 p {
  color: var(--color1);
}

#slide-counters {
  display: flex;
  width: 78px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 15px auto;
}

.slide-counter, .mini-counter {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--color6);
}

.slide-counter.active, .mini-counter.active {
  background-color: var(--color25);
}

#ad-container {
  width: fit-content;
  margin: 30px auto;
}

#ad-container h2, #news-section h2, #history-section h2 {
  font-size: 42px;
  text-align: center;
  color: var(--color3);
}

.ads {
  width: fit-content;
  display: flex;
  align-content: space-between;
  gap: 60px;
  margin: 30px auto;
}

.ad {
  display: flex;
  flex-direction: column;
}

.ad:hover {
  opacity: 0.8;
}

.ad p {
  font-size: 17px;
  color: var(--color25);
  font-weight: 500;
  margin-top: 15px;
}

.material-icons {
  text-align: center;
}

#news-section {
  margin-top: 80px;
}

#news-section {
  width: 100%;
}

#photo-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  width: 90%;
  margin: 20px auto;
}

#phone-grid {
  display: none;
}

.grid, 
.grid-item, 
.grid-item a, 
.grid-image, 
.grid-image img, 
.line-image, 
.line-image img {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.grid-image img, .line-image img {
  transition: transform 0.9s ease;
}

.grid-image:hover img, .line-image:hover img {
  transform: scale(1.2);
}

.grid-item {
  margin-bottom: 10px;
}

.grid-text, .line-text {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  background-color: var(--color1);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#editor-section h2, #editor-section h3, #editor-section p {
  text-align: center;
}

#editor-section h2 {
  font-size: 30px;
}

#picks {
  width: 58%;
  margin: 35px auto;
  display: flex;
  align-content: space-between;
  gap: 20px;
}

#picks a {
  width: 45%;
}

.pick1, 
.pick2,
.pick-img1,
.pick-img2,
.pick-img1 img,
.pick-img2 img{
  width: 100%;
  margin: 0;
}

.pick-style1 {
  position: absolute;
  height: 60%;
  width: 22.5%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  top: 388%;
  left: 34.1%
}

.pick-style2 {
  position: absolute;
  height: 60%;
  width: 22.5%;
  border: 1px solid var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  top: 388%;
  left: 61.6%;
}

.pick-style1:hover, .pick-style2:hover {
  height: 67.5%;
  width: 26.2%;
  transition: all 0.3s ease-in-out;
}

.pick-style1 h3, .pick-style2 h3{
  font-size: 23px;
}

.pick-style2 h3, .pick-style2 p{
  color: var(--color1);
}

#history-section {
  margin-top: 100px;
}

#mini-slide-container {
  width: 96vw;
  box-sizing: border-box;
  margin: 0 auto;
}

#mini-counters {
  display: flex;
  width: 20px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 20px auto 50px;
}

.mini-slides {
  width: 85vw;
  margin: 0 auto;
  overflow: hidden;
}

.mini-slide {
  width: 85%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  transition: opacity 1s ease-in-out;
  display: none;
}

.mini-slide.active {
  display: grid;
}

.slide-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figures {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figures h3, .figures p {
  color: var(--color1);
  text-align: center;
}

.figures h3 {
  font-size: 50px;
}

.figures p {
  font-weight: 700;
}

.mini-text {
  margin-top: 40px;
}

.mini-text p {
  text-align: center;
}

.mini-slide-button {
  position: absolute;
  /* top: 500%; */
  transform: translateY(-40%);
  width: 50px;
  height: 50px;
  background-color: var(--color1);
  color: var(--color25);
  border: none;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  z-index: 10;
  font-weight: 200;
  transition: all 0.2s ease-in-out;
}

.mini-slide-button:hover {
  width: 55px;
  height: 55px;
  font-size: 32px;
}

#mini-slide-button-left {
  left: 30px;
}

#mini-slide-button-right {
  right: 30px;
}

footer {
  background-color: var(--color1);
  width: 100%;
  height: 90px;
  margin-top: 100px;
}

.footer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credit:hover {
  cursor: pointer;
}

.name h4 {
  font-size: 24px;
  font-weight: 900;
}

.name h4 span{
  font-size: 12px;
  font-weight: 500;
}

.name p{
  font-size: 16px;
  font-weight: 700;
}

.socials {
  color: var(--color3);
}

.rounded-icons {
  margin-right: 0;
  margin-left: 7px;
}

.footer a:hover, .footer a i:hover {
  color: var(--color6);
  transition: 1s;
}

@media screen and (max-width: 1026px) {
  
  #nav {
    margin: auto 0;
    padding: 0;
  }

  #logo-container {
    width: 44px;
    height: 44px;
    margin-left: 18px;
  }

  #nav-menu {
    display: flex;
    flex-direction: column;
  }

  #hamburger-menu {
    display: block;
    transition: 1s;
  }

  #hamburger-menu.active {
    background-color:  rgba(0, 51, 160, 0.973);
  }

  #hamburger-menu.active div:first-child {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--color1);
  }

  #hamburger-menu.active div:nth-child(2) {
    opacity: 0;
  }

  #hamburger-menu.active div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--color1);
  }

  #hamburger-menu.active p {
    color: var(--color1);
  }

  #nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 51, 160, 0.973);
    text-align: left;
    width: 100vw;
    font-weight: 600;
    left: 100%;
    top: 64px;
    font-size: 20px;
    transition: 1s;
    padding-bottom: 100px;
    z-index: 20;
  }

  #nav-links.active {
    left: 0%;
  }

  .mobile-link {
    display: flex;
  }

  .mobile-link a {
    color: var(--color1);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
  }

  .nav-link {
    height: 64px;
    width: 90%;
    border-bottom: 1px solid var(--color1);
    margin: 0 auto;
    justify-content: center;
  }

  .nav-link a{
    color: var(--color1);
  }

  .nav-outline {
    display: none;
  }

  #user-section a:last-child {
    display: none;
  }

  #dropdown-section {
    display: none;
  }

  .slide-images {
    height: 300px;
  }

  .slide-button {
    display: none;
  }

  .slide-text {
    width: 90vw;
    background-color: var(--color7);
  }

  #slide-text1, 
  #slide-text2, 
  #slide-text3, 
  #slide-text4, 
  #slide-text5, 
  #slide-text6 {
    top: 40%;
    left: 5%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .slide-text h3 {
    font-size: 27px;
    line-height: 34px;
  }

  .slide-text p {
    font-size: 15px;
  }

  .slide-text br {
    display: none;
  }

  #slide-counters {
    margin-top: 190px;
    margin-bottom: 60px;
  }

  #ad-container h2
  , #news-section h2
  , #history-section h2 {
    width: 70%;
    font-size: 27px;
    margin: 0 auto;
    line-height: 34px;
  }

  #photo-grid {
    display: none;
  }

  #phone-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px auto;
  }

  .line {
    width: 100%;
  }

  .line1, .line3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .line-text {
    font-size: 15px;
  }

  .line3 .line-item2 .line-text {
    padding-top: 20.5px;
    padding-bottom: 20.5px;
  }

  #editor-section {
    margin-top: 80px;
  }

  #editor-section h2 {
    font-size: 22px;
  }

  #picks {
    width: 75%;
    margin: 20px auto;
  }

  .pick-style1 {
    top: 277.5%;
    height: 16%;
    width: 30%;
    left: 29.5%;
  }

  .pick-style2 {
    top: 277.5%;
    height: 16%;
    width: 30%;
    left: 68%;
  }

  #picks h3 {
    font-size: 19px;
  }

  #picks p {
    font-size: 12px;
  }

  .pick-style1:hover, .pick-style2:hover {
    height: 18.5%;
    width: 33.5%;
  }

  .pick-style1, .pick-style2 {
    display: none;
  }

  .mini-slide1 .slide-grid4, .mini-slide2 .slide-grid1 {
    display: none;
  }

  .mini-slide {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .figures {
    width: 90.3px;
    height: 90.3px;
  }

  .figures h3 {
    font-size: 18px;
  }

  .figures p{
    font-size: 10px;
  }

  .mini-text p {
    font-size: 11px;
  }

  .mini-slide-button {
    /* top: 320%; */
    transform: none;
    width: 38px;
    height: 38px;
    font-size: 28px;
  }

  #mini-slide-button-left {
    left: 10px;
  }

  #mini-slide-button-right {
    right: 10px;
  }

  .mini-slide-button:hover {
    width: 42px;
    height: 42px;
  }


}

@media screen and (min-width: 768px) and (max-width: 1026px)  {
  #nav {
    width: 90%;
  }

  .slide-images {
    height: 350px;
  }

  .slide-button {
    display: block;
    top: 25%;
  }

  #slide-text1, 
  #slide-text2, 
  #slide-text3, 
  #slide-text4, 
  #slide-text5, 
  #slide-text6 {
    top: 30%;
  }

  #phone-grid {
    display: none;
  }

  #photo-grid {
    display: grid;
    width: 100%;
  }

  #photo-grid p {
    font-size: 18px;
  }

  .pick-style1 {
    top: 164.5%;
    height: 23.5%;
  }

  .pick-style2 {
    top: 164.5%;
    height: 23.5%;
    left: 65.5%;
  }

  .pick-style1:hover, .pick-style2:hover {
    height: 26%;
  }

  .pick-style1, .pick-style2 {
    display: none;
  }

  .figures {
    width: 150px;
    height: 150px;
  }

  .figures h3 {
    font-size: 33px;
  }

  .figures p{
    font-size: 17px;
  }

  .mini-text p {
    font-size: 15px;
  }

  .mini-slide-button {
    /* top: 205%; */
    transform: none;
    width: 44px;
    height: 44px;
    font-size: 30px;
  }

  #mini-slide-button-left {
    left: 30px;
  }

  #mini-slide-button-right {
    right: 30px;
  }

}